.task_card {
  width: 100%;
  min-height: 100px;
  border: 1px solid #dcdc;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0px;
}

.task_text {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.task_card_bottom_line {
  display: flex;
  justify-content: space-between;
}

.task_delete {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.task_delete:hover {
  background-color: #ed6f6f;
}
.delete_icon {
  width: 50%;
  opacity: 50%;
  transition: all 0.3s ease-in-out;
}

.delete_icon:hover{
  opacity: 80%;
}
